/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/09/2018, 06:57:37 PM
    Author     : Hagane
*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
header {
    font-family: "Indie Flower";
    font-size: 20px;
    text-align: center;
}
footer {
    text-align: right;
    font-size: 10px;
    font-style:  oblique;
}
