/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/09/2018, 06:57:37 PM
    Author     : Hagane
*/
@import url('https://fonts.googleapis.com/css?family=Overlock|Permanent+Marker|Shojumaru');
header:onload {
    font-family: "Overlock";
    font-size: 20px;
    text-align: center;
    color: goldenrod;
    position: fixed !important;
    top: 0px !important;
    left: 187px !important;
    width: 1509px !important;
    z-index: 999;

}

.fadein {
    opacity: 1;
}

header {
    font-family: "Overlock";
    font-size: 20px;
    text-align: center;
    color: goldenrod;
    position: fixed !important;
    top: 0px !important;
    left: 187px !important;
    width: 1509px !important;
    z-index: 999;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
footer {
    text-align: right;
    font-size: 13px;
    font-style:  oblique;
    color: #ffffff;
    height: 25px;
    background-image: url(resources/footer_left.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.mexico{
    font-family: "Permanent Marker";
    color: #FF0080;
    letter-spacing: 5px;
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: -40px;
}
body{
    margin-top: 0px;
    background-color: #659ED5;
}
.midsection{
    padding: 10px;
    width: 80%;
    background-color: white;
    margin: auto;
    border-top: 3px solid #333333;
    border-bottom: 1px solid #333333;
    position: relative;
    top: 200px;
}
.playerarea{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}